@import "bootstrap-sprockets";
@import "bootstrap";


//自サイト用の専用配色
$my-color1: #ffee8e;
$my-color2: #fff06d;
$my-color3: #faaa20;


/*================================================
 *  一般・共通設定
 ================================================*/

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  padding: 50px 0px 0px 0px;
  color: white;
  overflow-x: hidden;   //横スクロール禁止
  background: $my-color1 //image-url("sky.png") fixed  0 0;
}

#contents {
  width:100%;
  margin:0 auto;
}

/* typography */

h1, h2, h3, h4, h5, h6,p {
  color: black;                 // 字色
  text-align: center;             // 中央寄せ
  line-height: 1.5;               // 行間
  margin-bottom: 30px;            // マージン
}

h1 {
  font-size: calc(300% + 1vw);  // 文字サイズ（レスポンシブ）
  font-weight: bold;               // 字の太さ
  letter-spacing: 2px;          // 字間隔
}

h2 {
  font-size: calc(150% + 0.5vw);   // 文字サイズ（レスポンシブ）
  font-weight: bold;               // 字の太さ
  letter-spacing: 1px;             // 字間隔
}

p {
  color: black;                  // 字色
  font-size: calc(85% + 0.5vw);    // 文字サイズ（レスポンシブ）
  font-weight: bold;               // 字の太さ
  line-height: 2.0;                // 行間
}


/*================================================
 *  スティッキーヘッダー
 ================================================*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  transition: .5s ease-in-out;
}

/* スクロール時にヘッダーの縦サイズを縮める */
.header-animation {
  height: 8%;
}

/* ロゴ */
.logo {
  position: absolute;     // 絶対位置
  bottom: -10%;           // 下に固定
  left: 10%;              // 左に固定
  z-index: 999;
  width: 30%;
  height: 90%;
  transition: .5s ease-in-out;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  ul {
    list-style: none;
    padding: .2em 2em;
    float: left;
    transition: .25s ease-in-out;
    &:hover {
    background-color: $my-color3;
    border-radius: 10px;
    }
  }
  a {
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: calc(80% + 0.5vw);
  }
}

/* スクロール時にロゴを左へ移動 */
.logo-animation {
  bottom: -12%;
  left: 7%;
}

/* ヘッダーナビゲーション */
#nav-header {
  nav {
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: 2000;
    font-size: calc(80% + 0.5vw);
    width: 93vw;
    height: 36px;
    transition: .5s ease-in-out;

    ul {
      list-style: none;
      padding: .2em 2em;
      float: right;
      li {
        display: inline-block;
        margin: 0;
        padding: .2em .7em;
      }
    }

    a {
      width: 100%;
      height: 100%;
      color: black;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 1px;
      transition: .25s ease-in-out;
      &:hover {
        color: $my-color3;
      }
    }

  }
}

/* ヘッダー背景 */
.nav-bg {
  content: '';
  position: absolute;
  display: block;
  top: -120%;
  width: 100%;
  height: 120%;
  z-index: -1;
  background: $my-color2;
  transition: .4s ease-in-out;
}

/* ヘッダー背景の非表示 */
.bg-hidden {
  top: -120%;
  opacity: 0;
}

/* ヘッダー背景の表示 */
.bg-visible {
  top: 0;
  opacity: 1;
}

/*================================================
 *  汎用クラス
 ================================================*/

 /* 写真中央寄せ */
 .imgC {
  clear:both;
  overflow:hidden;
  margin-bottom:50px;
  text-align:center;
img {
  border-radius:5px;
  margin-bottom:0.5em;
}
}

/* 写真左寄せ */
.imgR {
  clear:both;
overflow:hidden;
margin-bottom:50px;
img {
  float:left;
  margin:0 2em 2em 0;
  border-radius:5px;
}
}

/* 写真右寄せ */
.imgL {
  clear:both;
overflow:hidden;
margin-bottom:50px;
img {
  float:right;
  margin:0 0 2em 2em;
  border-radius:5px;
}
}

/* 通常の領域 */
.normal-area {
width:100%;
padding-top: 50px;
}

/* 背景画像を表示させない領域 */
.non-background-area {
width:100%;
padding: 10px;
background: $my-color2
}

/* 通常のブロック */
.normal-block {
margin: 50px;
padding: 20px;
}

/* 背景が白いブロック */
.white-block {
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
background: rgb(255, 255, 255);
}

.firstblock {
  height: 500px; 
  margin-top: 50px;
  padding-top: 10px;
  width:100%;
  background-image: image-url("home.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
h1{
  padding-top: 60px;
  letter-spacing: 5px;
  }
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  height: 500px; 
}
.main {
  background-image: image-url("about.jpg");
  padding: 50px;
  background-size: cover;
}
.side {
  background:$my-color2;
  ul{
    padding: 50px;
    li{
      color: black;
      letter-spacing: 2px;
      font-weight: bold;
      padding-bottom: 20px;
      &:hover {
        color: $my-color3;
      }



    }
  }
}
.main,
.side {
  padding: 2%;
  border-radius: 10px
}
/*================================================
 *  フッター
 ================================================*/

 footer {
  clear:both;
  width:100%;
  padding: 20px 10px 10px 10px;
  text-align:center;
  background: $my-color2;
  p {
    color: white;
    font-size: calc(50% + 0.5vw);
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: .2em 2em;
    li {
      display: inline-block;
      padding: .2em .7em;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

/*================================================
 *  スマートフォン向けスタイル
 ================================================*/
 @media screen and (max-width:896px) {

  html {
    overflow-x : hidden;
    -webkit-overflow-scrolling: touch;
  }

  body {
    -webkit-overflow-scrolling: touch;
  }

  .imgC {
    margin-bottom:30px;
    img {
      max-width:100%;
    }
  }

  .imgL {
    margin-bottom:30px;
    img {
      display:block;
      float:none;
      max-width:100%;
      margin:0 auto 1em auto;
    }
  }

  .imgR {
    margin-bottom:30px;
    img {
      display:block;
      float:none;
      max-width:100%;
      margin:0 auto 1em auto;
    }
  }

  .header-animation {
    height: 75px;
  }

  .logo {
    bottom: 15%;
    left: 13%;
    width: 100%;
    height: 65%;
  }

  .logo-animation {
    left: 3%;
  }

  #nav-header {
    nav {
      bottom: 120%;   //ヘッダーナビゲーションを隠す
    }
  }

  .nav-bg {
    content: '';
    top: -100%;
    height: 100%;
  }

  .bg-hidden {
    top: -100%;
    opacity: 0;
  }

  .bg-visible {
    top: 0;
    opacity: 1;
  }

  footer {
    padding: 10px 0px 0px 0px;
    border: 1px solid $my-color2;
  }
}

/*================================================
 *  グリッド系クラス
 ================================================*/

/* 中略 */

/* グリッドコンテナ */
.grid-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

/* グリッドコンテンツ */
.grid-content {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

/* グリッドコンテンツのイメージ部分 */
.grid-content-image {
  overflow: hidden;
  background-color: #fff;
  border-radius: .8rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  img {
    width: 100%;
    background-color: $my-color1;
  }
}

/* グリッドコンテンツのテキスト部分 */
.grid-content-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    font-weight: 500;
    color: #3d4852;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  p {
    display: inline-flex;
    align-items: center;
    span {
      color: #8795a1;
      font-size: .875rem;
    }
  }
}

/*================================================
 *  スマートフォン向けスタイル
 ================================================*/

@media screen and (max-width:896px) {

  .grid-content {
    width: 100%;
  }
}