<footer class="footer">
 <!-- <ul>
    <li><%= link_to image_tag("twitter_icon.png", alt: "Twitter-Icon"), "#" %></li>
    <li><%= link_to image_tag("youtube_icon.png", alt: "Twitter-Icon"), "#" %></li>
  </ul>-->
  <p>yuji nakamura portfolio 2019</p>
</footer>